.navbar{
    display: flex;
    justify-content: space-between;
    height: 75px;
    background: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navlogo{
    display: flex;
    align-items: center;
    padding-left: 20px;
    
}

.navlogo img{
    height: 45px;
    width: 45px;
    padding: 0px;
    border: 0px;
}

.navlogo p{
    font-size: 30px;
    padding-left: 15px;
    border: 0px;
    margin: 0px;
    color: rgb(235, 235, 235);
}

.categories{
    list-style: none;
    display: flex;
}

.categories li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    padding-right: 20px;
    padding-top: 10px;
    border: 0px;
}

.categories hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    color: rgb(199, 39, 39);
}

.navmenu input{
    border-radius: 50px;
    height: 20px;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    border: none;
}

.navmenu input:hover{
    background: rgb(237, 236, 236);
    cursor:text;
}

.loggedOut{
    display: none;
}

.options button{
    height: 45px;
    width: 135px;
    border-radius: 30px;
    outline: none;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 200;
    background: #f7cbfa;
    cursor: pointer;
    margin-top: 15px;
}

.options button:hover{
    background: #f7abfc;
    cursor: pointer;
}

.login button{
    height: 45px;
    width: 135px;
    border-radius: 30px;
    outline: none;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 200;
    background: #f7cbfa;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 15px;
}

.login button:hover{
    background: #f7abfc;
}
